*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
}
#nav-bar{
    top: 0px;
    left: 0px;
    display: block;
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}
header{
    display: block;
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 40px;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#nav-bar  ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
li{
    display: list-item;
}
#nav-bar  li{
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#nav-bar a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: #4d4e53;
}
#main-doc{
    display: block;
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
header{
    color: black;
    margin: 10px;
    text-align: left;
    font-size: 22px;
    display: block;
}
#main-doc  header{
    text-align: left;
    margin: 0px;
}

p{
    display: block;
    margin: 15px;
}

article{
    display: block;
}
section  article{
    margin: 15px;
    font-size: 17px;
}
code{
    font-family: monospace;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    line-height: 2;
    padding: 10px;
    margin: 5px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 15px;
}
/*Tablet*/
@media screen and (max-width: 768px) and (min-width: 481px){
    
}
/*Movil*/
@media screen and (max-width: 480px) and (min-width: 300px){
    #nav-bar{
        min-width: 90px;
        width: 200px;
    }
    #main-doc{
        margin-left: 200px;
    }
    p, li, code{
        font-size: 14px;
    }
    ul{
        padding-inline-start: 20px;
    }
    #referencias ul{
        font-size: 14px;
        margin-block-end: 15px;
        margin-block-start: 15px;
    }
}